<!-- IF not $INCLUDED_ICHORDCARETJS -->
	<!-- INCLUDEJS {T_EXT_MENTIONS_PATH}/lib/ichord/Caret.js/dist/jquery.caret.min.js -->
    <!-- DEFINE $INCLUDED_ICHORDCARETJS = true -->
<!-- ENDIF -->
<!-- IF not $INCLUDED_ICHORDATJS -->
	<!-- INCLUDEJS {T_EXT_MENTIONS_PATH}/lib/ichord/At.js/dist/js/jquery.atwho.min.js -->
    <!-- DEFINE $INCLUDED_ICHORDATJS = true -->
<!-- ENDIF -->

<!-- IF not $INCLUDED_WOLFSBLVTMENTIONSJS -->
	<!-- INCLUDEJS js/functions.js -->
	<!-- INCLUDEJS js/onload.js -->
    <!-- DEFINE $INCLUDED_WOLFSBLVTMENTIONSJS = true -->
<!-- ENDIF -->